/* Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

body {
	margin: 0 auto;
	color: #fff;
	max-width: 1440px;
	position: relative;
}

.background-grey {
	background-color: #808080;
}

a {
	text-decoration: none;
	color: #808080;
}

header {
	display: grid;
	grid-template-columns: 1fr 3fr 350px;
	gap: 10px;
	padding: 20px 60px;
	background-color: #808080;
	font-size: 22px;
}

header nav {
	display: flex;
	align-items: center;
}

header nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-right: 50px;
}

header nav ul button {
	background-color: #d3d3d3;
	border-radius: 15px;
	padding: 17px;
	border: none;
}

header .logo {
	height: 50px;
	background-color: rgb(39, 39, 39);
}

input {
	border-radius: 10px;
	border: none;
	font-size: 25px;
	outline: none;
	padding-left: 15px;
}
